:root {
/*les couleurs*/
    --vert-color:#5cbdb3;
    --gris-moyen-color:#d9d9d9;
    --font-color:#f4f4f4;
    --gris-fonce:#939393;
    --noir:#1c1c1c;

    --bleu:#3011BC;
    --orange:#FE7A15;
    /* les font families */    
}